* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

button:active,
button:focus {
    outline: none;
}

.header-container {
    margin: 0;
    background-color: #f6f6f8;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.header > img {
    max-width: 8rem;
}

.header > h1 {
    font-size: 3.5rem;
    font-weight: lighter;
    color: #202035;
    margin: 2rem 0;
}

.header > button {
    padding: 1rem 6rem;
    border-radius: 0.4rem;
    color: white;
    background: #15087e;
    letter-spacing: 1px;
}

.header > button:hover {
    background: #15089e;
}

.tests {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 1rem;
}

.tests > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: 1rem auto;
}

.tests > div > h2 {
    font-weight: normal;
    margin: 1.5rem 0;
    font-size: 0.9rem;
}

.tests > div > button {
    width: 6.5rem;
    height: 6.5rem;
    margin: 1rem;
    padding: 0;
    border: 0.15rem solid #15087e;
    border-radius: 5rem;
}

.tests > div > button:hover {
    background: #f6f6f8;
}

.tests > div > button.success {
    color: #7ed321;
    border: 0.15rem solid #7ed321;
}

.tests > div > button.failed {
    color: #ff6363;
    border: 0.15rem solid #ff6363;
}

@media (min-width: 1200px) {
    html,
    body {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    html,
    body {
        font-size: 14px;
    }
}
