* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
}

.header-container {
  margin: 0;
  background-color: #F6F6F8;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin : 0 auto;
  padding: 2rem;
}

.header > img { 
  max-width: 8rem;
}

.header > h1 {
  font-size: 3.5rem;
  font-weight: lighter;
  color: #202035;
  margin: 2rem 0;
}

.header > button {
  padding: 1rem 6rem;
  border-radius: .4rem;
  color: white;
  background: #15087E;
  letter-spacing: 1px;
}

.header > button:hover {
  background: #15089E;
}

.tests {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1rem;
}

.tests > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 30%;
  margin: 1rem auto;
}

.tests > div > h2 {
  font-weight: normal;
  margin: 1.5rem 0;
  font-size: .9rem;
}

.tests > div > button {
  width: 6.5rem;
  height: 6.5rem;
  margin: 1rem;;
  padding: 0;
  border: .15rem solid #15087E;
  border-radius: 5rem;
}

.tests > div > button:hover {
  background: #F6F6F8;
}

.tests > div > button.success {
  color: #7ED321;
  border: .15rem solid #7ED321;
}

.tests > div > button.failed {
  color: #FF6363;
  border: .15rem solid #FF6363;
}

@media (min-width: 1200px) {
  html, body {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  html, body {
    font-size: 14px;
  }
}
