dist/**/*.test.*
dist-web/
docs/
cypress.json
cypress/
examples/
scripts/
src/**/*.ts
src/**/*.js
src/tests/
reports/
.babelrc
.eslintrc.json
.github/
.gitignore
.idea
.npmignore
.npmrc.template
.nvmrc
.travis.yml
CONTRIB.md
README.md
tsconfig.json
tsconfig.*.json
tslint.json
typedoc.json
webpack.*.js
*.tgz
yarn.lock
yarn-error.log
