dist/**/*.test.*
dist-web/
docs/
examples/
scripts/
src/
.babelrc
.eslintrc.json
.github/
.gitignore
.idea
.npmignore
.npmrc.template
.nvmrc
.travis.yml
CONTRIB.md
README.md
tsconfig.json
tsconfig.*.json
tslint.json
typedoc.json
webpack.*.js
yarn.lock
yarn-error.log
