# Exclude all files by default
*

# Include distribution bundle but exclude test files if they are built into dist
!dist/**
*.test.*

# Include documentation and version information in bundle
!CONTRIBUTING.md

# Include any additional source files which should be bundled
!src/**/*.abi.json
